<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>HDD Failure Predictor</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>HDD Failure Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
        <input type="text" name="smart_5_raw" placeholder=" Smart 5 raw" required="required" />
        <br>
        <input type="text" name="smart_187_raw" placeholder="Smart 187 raw" required="required" />
        <br>
        <input type="text" name="smart_188_raw" placeholder="Smart 188 raw" required="required" />
        <br>
        <input type="text" name="smart_197_raw" placeholder="Smart 197 raw" required="required" />
        <br>
        <input type="text" name="smart_198_raw" placeholder="SMart 198 raw" required="required" />
        <br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}
 </div>


</body>
</html>